* {
    box-sizing: border-box;
}

.car-detail_body {
    background-color: rgb(246, 247, 249);
}

.car-detail_body {
    display: flex;
}

.filter-bar_detail {
    width: 330px;
    background: #FFFFFF;
}

.recent_cars {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 0 50px;
    padding-top: 10px;
    background-color: #3D5278;
}

.car-detail_container {
    height: 1000px;
    max-width: 100%;
    display: flex;
    padding-left: 100px;
}

.car_photos {
    margin-top: 10px;
    padding-right: 30px;
}

.car_banner {
    width: 492px;
    height: 360px;
    left: 32px;
    background: #3563E9;
    border-radius: 10px;
    margin-top: 25px;
}

.car-upper_ad {
    width: 400px;
    height: 76px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 25px;
}

.car_adverts {
    padding-top: 15px;
}

.car-lower_ad {
    width: 284px;
    height: 52px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 25px;
    margin-top: 10px;
}


.car_description-detail {
    position: absolute;
    display: block;
    font-weight: 500;
    width: 492px;
    height: 508px;
    right: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 32px;
    padding: 10px 0 0 25px;
}

.car_name-detail {
    height: 40px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #1A202C;
    padding-top: 10px;
}

.text_description {
    width: 444px;
    height: 120px;
    left: 24px;
    padding-top: 30px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19.8px;
    line-height: 200%;
    letter-spacing: -0.02em;
    color: #3D5278;
}

.car_small-photos {
    justify-content: space-between;
    padding-top: 20px
}

.car_img {
    width: 330px;
    height: 180px;
    border-radius: 10px;
    margin: 10px 0 0 75px
}

.car-small_img {
    width: 148px;
    height: 124px;
    border-radius: 10px;
}

.car_decoration {
    width: 148px;
    height: 124px;
    border-radius: 10px;
    margin-left: 24px;
}

.detailed_description {
    padding-top: 80px;
}

.overall_description {
    margin-bottom: 80px;
}

.overall-description_title {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.02em;
    padding-bottom: 8px;
    color: #90A3BF;
}

.price_description {
    display: flex;
}

.price_number {
    font-size: 32px;
    font-weight: 700;
    color: #1A202C;
}

.per_day {
    font-size: 16px;
    color: #90A3BF;
    padding-left: 5px;
}